{% extends 'djangoapp/base.html' %}{% block content %}
<h1 class="skeleton-heading">Contact Us</h1>
<div class="row">
    <div class="col-lg-4 offset-lg-4 p-4 h-100 d-flex  bg-dark text-white">
        <address class="text-left mt-4 p-2">
            <strong class="text-orange">Address:</strong><br>
            Best Cars<br>
            Northwestern Avenue 712, Sweetwater, AB<br>
            US<br>
            <strong class="text-orange">Telephone:</strong><br>
            <a href="tel:+46444444444">+1 999-123-4567</a>
        </address>
    </div>
</div>
{% endblock %}